.common {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.searchInput {
    height: 30px;
    padding: 0 5px;
}

.productsTable {
    border: 1px solid #ccc;
    border-collapse: collapse;
    width: 100%;
}

.productsTable th,
.productsTable td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.productsTable th {
    background-color: #d1cece;
}

.nameCell {
    white-space: normal;
    word-break: break-word;
    overflow-wrap: break-word;
    max-width: 150px;
}