.common {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.searchInput {
    height: 30px;
    padding: 0 5px;
}

.boxsTable {
    border: 1px solid #ccc;
    border-collapse: collapse;
    width: 100%;
}

.boxsTable th,
.boxsTable td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}

.boxsTable th {
    background-color: #d1cece;
}

.listProducts {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.nameCell {
    font-size: 20px;
    white-space: normal;
    word-break: break-word;
    overflow-wrap: break-word;
    max-width: 350px;
}