.boxsTable {
    border: 1px solid #ccc;
    border-collapse: collapse;
    width: 100%;
}

.boxsTable th,
.boxsTable td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.boxsTable th {
    background-color: #d1cece;
}