.blockCurrentBox {
    flex: 1;
}

.blockListProducts {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 10px;
    padding-left: 30px;

}

.titleListProducts {
    padding-top: 10px;
    font-weight: normal;
}

.productItem {
    white-space: normal;
    word-break: break-word;
    overflow-wrap: break-word;
}

