.main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 30px;
}

.blockHeaderAndButtonReport {
    display: flex;
    flex-direction: row;
    gap: 80px;
}

.StatisticProductFormAndCurrentBox {
    display: flex;
}

.StatisticProductFormAndCurrentBox > * {
    flex: 1;
}

.StatisticBlockAndProductForm {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 500px;
}

.nameTables {
    display: flex;
    gap: 30px;
    padding-top: 20px;
}

.nameTables h3 {
    cursor: pointer;
    position: relative;
    padding-bottom: 5px;
}

.nameTables h3.activeTab::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background-color: #f85d5d;
    border-radius: 2px;
}

