* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    background-color: #f5f5f5;
}

button {
    padding: 0.3em 1.2em;
    border-radius: 8px;
    border: 1px solid #f1a7a7;
    background-color: #f1a7a7;
    color: #403e3e;
    cursor: pointer;
    transition: border-color 0.25s, background-color 0.25s;
}

button:hover {
    border-color: #f68181;
    background-color: #f68181;
    color: #2c2c2c;
}

a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}